sudo: required

services:
  - docker

before_install:
  - docker-compose --env-file ./.env.test build mysql
  - docker-compose --env-file ./.env.test build backend

script:
  - docker-compose --env-file ./.env.test up -d mysql
  - sleep 10
  - docker-compose --env-file ./.env.test run --rm -e CGO_ENABLED=0 -e APP_ENV=test backend go test -v --tags test ./...

after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  - docker push tarkanaciksoz/todo-app-backend
#  - docker push tarkanaciksoz/todo-app-frontend

deploy:
  provider: elasticbeanstalk
  region: us-east-1
  app: todo-app
  env: Todoapp-env
  bucket_name: elasticbeanstalk-us-east-1-496965460335
  bucket_path: todo-app
  on: 
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY 