sudo: required

services:
  - docker

before_install:
  - docker-compose --env-file ./.env.test build

script:
  - docker-compose --env-file ./.env.test run --rm -e CGO_ENABLED=0 -e APP_ENV=test backend go test -v --tags test ./...

after_success:
  - echo "$DOCKER_PASSWORD" | docker login --username "$DOCKER_ID" --password-stdin
  - docker push tarkanaciksoz/todo-app-backend
  - docker push tarkanaciksoz/todo-app-frontend